body {
    font-family: Tahoma, serif;
    font-size: 13px;
    width: 1000px;
    margin: 0 auto;
}

#logo img {
    height: 40px;
    width: 50px;
    display: block;
}

#menu-top {
    height: 40px;
    padding: 0;
    margin: 0;
    background-color: #000000;
    width: 1000px;
    border: 1px solid #CDCDCD;
    position: fixed;
}

#menu-top ul, #menu-top li {
    padding: 0;
    margin: 0;
}

#menu-top li {
    position: relative;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 14px

}

#menu-top li a:hover {
    background-color: red;
}

#menu-top li a {
    width: 100px;
    height: 40px;
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    background-color: black;
    color: white;
    margin-left: 30px;
}
#banner{
    width: 1000px;
}
#banner img{
    border: 1px solid #CDCDCD;
    width: 1000px;
}
#main #right{
    width: 300px;
    float: left;
    min-height: 400px;
}
#main #right h3{
    display: block;
    background-color: orange;
    height: 40px;
    width: 300px;
    text-align: center;
    margin-top: 0px;
    line-height: 40px;
}
#main #right .menu-right ol {
    margin: -15px 0px 0px 0px;
    padding: 0px;
    background-color: white;
    list-style: none;
}
#main #right .menu-right ol li a{
    text-decoration: none;
    display: block;
    line-height: 45px;
    border-bottom: 1px solid silver;
    font-size: 15px;
    color: black;
    height: 48px;
    text-align: center;
}
#main #right .menu-right ol li a:hover{
    color: blue;
}
#main #right img{
    width: 300px;
    height: auto;
}
#main #left{
    width: 700px;
    float: left;
    min-height: 400px;
}
#main #left ul{
    margin: 0px;
    padding: 0px;
}
#main #left ul li{
    list-style: none;
    clear: left;
    border-bottom: 2px solid #CDCDCD;
}
#main #left ul li img{
    height: 300px;
    width: 300px;
    float: left;
    margin-right: 10px;
    border-bottom: 10px solid white;
}
#main #left ul li a{
    font-size: 13px;
    text-decoration: none;
    
}
#main #left ul li a:hover{
    color: red;
}

#footer {
    display: block;
    background-color: black;
    width: 1000px;
    height: 60px;
    float: bottom;
    clear: left;
    color: white;
    text-align: center;
    line-height: 50px;
}








