<div class="menu">
  <nav class="navbar navbar-expand-lg navbar-light " style="background-color: rgba(212,212,212,0.26)">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['home']">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownEmployee" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
              Employee
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownEmployee">
              <li><a class="dropdown-item" href="#">List</a></li>
              <li><a class="dropdown-item" href="#">Add New Employee</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCustomer" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
              Customer
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownCustomer">
              <li><a class="dropdown-item" routerLink="customer/list">List</a></li>
              <li><a class="dropdown-item" href="#">Customer Using Facility</a></li>
              <li><a class="dropdown-item" routerLink="customer/create">Add New Customer</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownFacility" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
              Facility
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownFacility">
              <li><a class="dropdown-item" routerLink="facility">List</a></li>
              <li><a class="dropdown-item" routerLink="facility/create]">Add New Facility</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownContract" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
              Contract
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownContract">
              <li><a class="dropdown-item" routerLink="contract/list">List</a></li>
              <li><a class="dropdown-item" routerLink="contract/create">Add New Contract</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Support</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
