<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Order list</title>
</head>
<body>
<h1>Order List</h1>
<a href="/book">Back to Book list</a>
<span th:text="${message}"></span>
<table border="1">
    <thead>
    <tr>
        <td>ID</td>
        <td>Code</td>
        <td>Date</td>
        <td>ID Book</td>
        <td>Return</td>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="order : ${orderBooks}">
        <tr>
            <td th:text="${order.id}"></td>
            <td th:text="${order.code}"></td>
            <td th:text="${order.date}"></td>
            <td th:text="${order.book.id}"></td>
            <td><a th:href="@{/book/return/__${order.book.id}__}">Return</a></td>
        </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>