<div class="container-fluid">
  <div style="text-align: center;color: blue"><h2>{{message}}</h2></div>
  <div class="row">
    <div class="col-lg-3"></div>

    <div style="background: lightblue" class="col-lg-6 shadow-lg">
      <form [formGroup]="formEditTicket" *ngIf="formEditTicket" (ngSubmit)="editTicket(id)">
        <div class="mb-5 mt-3 text-center fst-italic">
          <h1>Sửa vé xe</h1>
        </div>
        <input formControlName="id" type ="text" hidden>
        <div class="mb-3">
          <label class="form-label fw-bold fst-italic">Điểm Đi</label>
          <input formControlName="startPoint" type="text" class="form-control"
                 [ngClass]="formEditTicket.controls['startPoint'].invalid ?'is-invalid':'is-valid'">
          <div class="invalid-feedback">
            <div *ngIf="formEditTicket.controls['startPoint'].errors?.required
        && (formEditTicket.controls['startPoint'].touched)">
              Khong duoc bo trong
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label fw-bold fst-italic">Điểm Đến:</label>
          <input formControlName="endPoint" type="text" class="form-control"
                 [ngClass]="formEditTicket.controls['endPoint'].invalid ?'is-invalid':'is-valid'">
          <div class="invalid-feedback">
            <div *ngIf="formEditTicket.controls['endPoint'].errors?.required
        && (formEditTicket.controls['endPoint'].touched)">
              Khong duoc bo trong
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label fw-bold fst-italic">Giá Vé:</label>
          <input formControlName="price" type="text" class="form-control"
                 [ngClass]="formEditTicket.controls['price'].invalid ?'is-invalid':'is-valid'">
          <div class="invalid-feedback">
            <div *ngIf="formEditTicket.controls['price'].errors?.required
        && (formEditTicket.controls['price'].touched)">
              Khong duoc bo trong
            </div>
            <div *ngIf="formEditTicket.controls['price'].errors?.pattern
        && (formEditTicket.controls['price'].touched)">
              Phai la so duong
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label fw-bold fst-italic">Ngày Khởi Hành:</label>
          <input formControlName="startDay" type="date" class="form-control" aria-describedby="idCardError"
                 [ngClass]="formEditTicket.controls['startDay'].invalid ?'is-invalid':'is-valid'">
          <div class="invalid-feedback">
            <div *ngIf="formEditTicket.controls['startDay'].errors?.required
        && (formEditTicket.controls['startDay'].touched)">
              Khong duoc bo trong
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label fw-bold fst-italic">Giờ khởi hành:</label>
          <input formControlName="time" type="text" class="form-control"
                 [ngClass]="formEditTicket.controls['time'].invalid ?'is-invalid':'is-valid'">
          <div class="invalid-feedback">
            <div *ngIf="formEditTicket.controls['time'].errors?.required
        && (formEditTicket.controls['time'].touched)">
              Khong duoc bo trong
            </div>
            <div *ngIf="formEditTicket.controls['time'].errors?.pattern
        && (formEditTicket.controls['time'].touched)">
              Khong dung dinh dang gio XX:XX
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label fw-bold fst-italic">Nhà Xe:</label>
          <select [compareWith]="equals" formControlName="garage" class="form-select"
                  aria-label="Default select example">
            <option *ngFor="let item of garageList" [ngValue]="item">{{item.name}}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label fw-bold fst-italic">Số lượng:</label>
          <input formControlName="quantity" type="text" class="form-control"
                 aria-describedby="addressError"
                 [ngClass]="formEditTicket.controls['quantity'].invalid ?'is-invalid':'is-valid'">
          <div class="invalid-feedback">
            <div *ngIf="formEditTicket.controls['quantity'].errors?.required
        && (formEditTicket.controls['quantity'].touched)">
              Khong duoc bo trong
            </div>
            <div *ngIf="formEditTicket.controls['quantity'].errors?.pattern
        && (formEditTicket.controls['quantity'].touched)">
              Phai la so duong
            </div>
          </div>
        </div>
        <div class="mb-3 w-100">
          <div class="row">
            <div class="col-lg-6">
              <button type="submit" class="btn btn-primary">Sửa</button>
            </div>
            <div class="col-lg-6">
              <button type="reset" class="btn btn-primary" style="float: right">Làm mới</button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="col-lg-3"></div>
  </div>
</div>


