<div style="clear: left">
  <a href="/facility">Back to facility list</a>
</div>
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-lg-3">
      <div>
        <img src="../../../assets/2022-FIFA-World-Cup.jpg" style="width: 100%;height: 100%"/>
      </div>
      <div>
        <img src="../../../assets/messi-celebrando-gol-3674.jpg" style="width: 100%;height: 100%">
      </div>
    </div>
    <div style="background: lightblue" class="col-lg-6 shadow-lg">
      <form action="/#" method="post" >
        <div class="mb-5 mt-3 text-center fst-italic">
          <h1>CREATE FACILITY</h1>
        </div>
        <div class="mb-3">
          <label for="facilityType" class="form-label fw-bold fst-italic">Facility Type:</label>
          <select  id="facilityType" class="form-select"
                   aria-label="Default select example">
            <option>
            </option>
          </select>

        </div>

        <div class="mb-3">
          <label for="name" class="form-label fw-bold fst-italic">Name Facility:</label>
          <input  type="text" class="form-control" id="name" aria-describedby="nameError">

        </div>

        <div class="mb-3">
          <label for="area" class="form-label fw-bold fst-italic">Area:</label>
          <input  type="text" class="form-control" id="area" aria-describedby="area">

        </div>

        <div class="mb-3">
          <label for="cost" class="form-label fw-bold fst-italic">Cost:</label>
          <input  type="text" class="form-control" id="cost" aria-describedby="cost">

        </div>

        <div class="mb-3">
          <label for="maxPeople" class="form-label fw-bold fst-italic">Max People:</label>
          <input  type="text" class="form-control" id="maxPeople" aria-describedby="maxPeople">

        </div>


        <div class="mb-3">
          <label for="standardRoom" class="form-label fw-bold fst-italic">Standard Room:</label>
          <input  type="text" class="form-control" id="standardRoom" aria-describedby="standardRoom">

        </div>

        <div class="mb-3">
          <label for="descriptionOtherConvenience" class="form-label fw-bold fst-italic">Description Other
            Convenience:</label>
          <input  type="text" class="form-control"
                  id="descriptionOtherConvenience" aria-describedby="descriptionOtherConvenience">

        </div>


        <div id="poolArea" class="mb-3">
          <label for="poolArea1" class="form-label fw-bold fst-italic">Pool Area:</label>
          <input  type="text" class="form-control" id="poolArea1"
                  aria-describedby="poolArea">
          <p ></p>
        </div>

        <div id="numberFloors" class="mb-3">
          <label for="numberFloors1" class="form-label fw-bold fst-italic">Number Floors:</label>
          <input  type="text" class="form-control" id="numberFloors1"
                  aria-describedby="numberFloors">
          <p ></p>
        </div>

        <div id="facilityFree" class="mb-3">
          <label for="facilityFree1" class="form-label fw-bold fst-italic">Facility Free:</label>
          <input type="text" class="form-control" id="facilityFree1"
                 aria-describedby="facilityFree">
          <p ></p>
        </div>
        <div class="mb-3">
          <label for="rentTypeId" class="form-label fw-bold fst-italic">Rent Type:</label>
          <select  id="rentTypeId" class="form-select"
                   aria-label="Default select example">
            <option>
            </option>
          </select>
          <p ></p>
        </div>
        <button type="submit" class="btn btn-primary mb-3 w-100">Add New Facility</button>
      </form>
    </div>
    <div class="col-lg-3">
      <div>
        <img src="../../../assets/2022-FIFA-World-Cup.jpg" style="width: 100%;height: 100%"/>
      </div>
      <div>
        <img src="../../../assets/messi-celebrando-gol-3674.jpg" style="width: 100%;height: 100%">
      </div>
    </div>
  </div>
</div>
