<div style="clear: left">
  <a href="/facility">Back to facility list</a>
</div>

<div class="container mt-6">
  <div class="row">
    <div class="col-lg-3">
      <img src="https://media.ex-cdn.com/EXP/media.vntravellive.com/files/news/2022/07/18/dao-jeju-dua-ra-nhieu-loai-hinh-du-lich-trai-nghiem-moi-145649.jpg">
    </div>
    <div style="background: lightblue" class="col-lg-6 shadow-lg">
      <form action="/#"  method="post" >
        <div class="mb-5 mt-3 text-center fst-italic">
          <h1>EDIT FACILITY</h1>
        </div>
        <input hidden >
        <input hidden  id="facilityType">

        <div class="mb-3">
          <label for="name" class="form-label fw-bold fst-italic">Name Facility:</label>
          <input type="text" class="form-control" id="name" aria-describedby="nameError">
          <p > </p>
        </div>

        <div class="mb-3">
          <label for="area" class="form-label fw-bold fst-italic">Area:</label>
          <input type="text" class="form-control" id="area" aria-describedby="area">
          <p > </p>
        </div>

        <div class="mb-3">
          <label for="cost" class="form-label fw-bold fst-italic">Cost:</label>
          <input  type="text" class="form-control" id="cost" aria-describedby="cost">
          <p> </p>
        </div>

        <div class="mb-3">
          <label for="maxPeople" class="form-label fw-bold fst-italic">Max People:</label>
          <input type="text" class="form-control" id="maxPeople" aria-describedby="maxPeople">
          <p> </p>
        </div>
        <div class="mb-3">
          <label for="standardRoom" class="form-label fw-bold fst-italic">Standard Room:</label>
          <input  type="text" class="form-control" id="standardRoom" aria-describedby="standardRoom">
          <p> </p>
        </div>

        <div class="mb-3">
          <label for="descriptionOtherConvenience" class="form-label fw-bold fst-italic">Description Other Convenience:</label>
          <input  type="text" class="form-control" id="descriptionOtherConvenience" aria-describedby="descriptionOtherConvenience">
          <p> </p>
        </div>


        <div id="poolArea" class="mb-3">
          <label for="poolArea1" class="form-label fw-bold fst-italic">Pool Area:</label>
          <input  type="text" class="form-control" id="poolArea1" aria-describedby="poolArea">
          <p> </p>
        </div>

        <div id="numberFloors" class="mb-3">
          <label for="numberFloors1" class="form-label fw-bold fst-italic">Number Floors:</label>
          <input type="text" class="form-control" id="numberFloors1" aria-describedby="numberFloors">

        </div>

        <div id="facilityFree" class="mb-3">
          <label for="facilityFree1" class="form-label fw-bold fst-italic">Facility Free:</label>
          <input  type="text" class="form-control" id="facilityFree1" aria-describedby="facilityFree">

        </div>

        <div class="mb-3">
          <label  class="form-label fw-bold fst-italic">Rent Type:</label>
          <select>
            <option>
            </option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary mb-3 w-100">Update Facility</button>
      </form>
    </div>
    <div class="col-lg-3">
      <img src="https://media.ex-cdn.com/EXP/media.vntravellive.com/files/news/2022/07/18/dao-jeju-dua-ra-nhieu-loai-hinh-du-lich-trai-nghiem-moi-145649.jpg">
    </div>
  </div>
</div>
