<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>create customer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<a href="/facility">Back to facility list</a>
<div style="text-align: center">
    <th:block th:if="${message}">
        <p style="color: red;font-weight: bold" th:text="${message}"></p>
    </th:block>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-3"></div>

        <div style="background: lightblue" class="col-lg-6 shadow-lg">
            <form action="/facility/edit"  method="post" th:object="${facilityDTO}">
                <div class="mb-5 mt-3 text-center fst-italic">
                    <h1>Edit Facility Form</h1>
                </div>
                <input hidden th:field="*{id}">
                <input hidden th:field="*{facilityTypeId}" id="facilityType">

                <div class="mb-3">
                    <label for="name" class="form-label fw-bold fst-italic">Name Facility:</label>
                    <input th:field="*{name}" type="text" class="form-control" id="name" aria-describedby="nameError">
                    <p style="color: red" th:errors="*{name}" th:if="${#fields.hasErrors('name')}"> </p>
                </div>

                <div class="mb-3">
                    <label for="area" class="form-label fw-bold fst-italic">Area:</label>
                    <input th:field="*{area}" type="text" class="form-control" id="area" aria-describedby="area">
                    <p style="color: red" th:errors="*{area}" th:if="${#fields.hasErrors('area')}"> </p>
                </div>

                <div class="mb-3">
                    <label for="cost" class="form-label fw-bold fst-italic">Cost:</label>
                    <input th:field="*{cost}" type="text" class="form-control" id="cost" aria-describedby="cost">
                    <p style="color: red" th:errors="*{cost}" th:if="${#fields.hasErrors('cost')}"> </p>
                </div>

                <div class="mb-3">
                    <label for="maxPeople" class="form-label fw-bold fst-italic">Max People:</label>
                    <input th:field="*{maxPeople}" type="text" class="form-control" id="maxPeople" aria-describedby="maxPeople">
                    <p style="color: red" th:errors="*{maxPeople}" th:if="${#fields.hasErrors('maxPeople')}"> </p>
                </div>


                <div class="mb-3">
                    <label for="standardRoom" class="form-label fw-bold fst-italic">Standard Room:</label>
                    <input th:field="*{standardRoom}" type="text" class="form-control" id="standardRoom" aria-describedby="standardRoom">
                    <p style="color: red" th:errors="*{standardRoom}" th:if="${#fields.hasErrors('standardRoom')}"> </p>
                </div>

                <div class="mb-3">
                    <label for="descriptionOtherConvenience" class="form-label fw-bold fst-italic">Description Other Convenience:</label>
                    <input th:field="*{descriptionOtherConvenience}" type="text" class="form-control" id="descriptionOtherConvenience" aria-describedby="descriptionOtherConvenience">
                    <p style="color: red" th:errors="*{descriptionOtherConvenience}" th:if="${#fields.hasErrors('descriptionOtherConvenience')}"> </p>
                </div>


                <div id="poolArea" class="mb-3">
                    <label for="poolArea1" class="form-label fw-bold fst-italic">Pool Area:</label>
                    <input th:field="*{poolArea}" type="text" class="form-control" id="poolArea1" aria-describedby="poolArea">
                    <p style="color: red" th:errors="*{poolArea}" th:if="${#fields.hasErrors('poolArea')}"> </p>
                </div>

                <div id="numberFloors" class="mb-3">
                    <label for="numberFloors1" class="form-label fw-bold fst-italic">Number Floors:</label>
                    <input th:field="*{numberFloors}" type="text" class="form-control" id="numberFloors1" aria-describedby="numberFloors">
                    <p style="color: red" th:errors="*{numberFloors}" th:if="${#fields.hasErrors('numberFloors')}"> </p>
                </div>

                <div id="facilityFree" class="mb-3">
                    <label for="facilityFree1" class="form-label fw-bold fst-italic">Facility Free:</label>
                    <input th:field="*{facilityFree}" type="text" class="form-control" id="facilityFree1" aria-describedby="facilityFree">
                    <p style="color: red" th:errors="*{facilityFree}" th:if="${#fields.hasErrors('facilityFree')}"> </p>
                </div>

                <div class="mb-3">
                    <label for="rentTypeId" class="form-label fw-bold fst-italic">Rent Type:</label>
                    <select th:field="*{rentTypeId}" id="rentTypeId" class="form-select" aria-label="Default select example">
                        <option th:each="item : ${rentTypeList}"
                                th:value="${item.id}"
                                th:text="${item.name}">
                        </option>
                    </select>
                    <p style="color: red" th:errors="*{rentTypeId}" th:if="${#fields.hasErrors('rentTypeId')}"> </p>
                </div>
                <button type="submit" class="btn btn-primary mb-3 w-100">Update Facility</button>
            </form>
        </div>

        <div class="col-lg-3"></div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script>
        if ($('#facilityType').val() === '1') {
            $('#facilityFree').hide();
            $('#poolArea').show();
            $('#numberFloors').show();
        }
        if ($('#facilityType').val() === '2') {
            $('#facilityFree').hide();
            $('#poolArea').hide();
            $('#numberFloors').show();
        }
        if ($('#facilityType').val() === '3') {
            $('#poolArea').hide();
            $('#numberFloors').hide();
            $('#facilityFree').show();
        }

</script>
</body>
</html>