<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Category</title>
</head>
<body>
<h1>Update blog</h1>
<p>
    <a href="/bloger/category">Back to Category list</a>
</p>
<p>
    <th:block th:if="${message}">
<p th:text="${message}"></p>
</th:block>
</p>
<form th:action="@{/bloger/edit-category}" th:object="${category}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update Category"></td>
        </tr>
    </table>
</form>
</body>
</html>