header{
  width: 100%;
}
.left-header{
  float: left;
  width: 30%;
}
header .left-header img{
  width: 40px;
  height: 80px;
  margin: 5px 5px 5px 40px;
  float: left;
}
header .mid-header{
  width: 100%;
  float: left;
}
header .right-header {
  padding-top: 25px;
  text-align: center;
  float: left;
}
header .mid-header img{
  text-align: center;
  width: 200px;
  height: 80px;
}
