<h1>Danh sách sản phẩm</h1>
<p>{{message}}</p>
<input type="text" [(ngModel)]="name" (ngModelChange)="search()">
<select  [(ngModel)]="category"  (ngModelChange)="search()">
  <option value="" selected >--All--</option>
  <option  *ngFor="let item of categoryList" value="{{item.name}}" >{{item.name}}</option>
</select>
<table>
  <tr>
    <td>STT</td>
    <td>Tên</td>
    <td>Giá</td>
    <td>Loại sản phẩm</td>
    <td>Mô tả</td>
  </tr>
  <tr *ngFor="let product of products| paginate: { itemsPerPage: 5, currentPage: p }; index as i">
    <td>{{i + 1}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.category.name}}</td>
    <td>{{product.description}}</td>
    <td><a [routerLink]="['/product/edit',product.id]">Edit</a></td>
    <td><a [routerLink]="['/product/delete',product.id]">Delete</a></td>
  </tr>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
