<div class="container-fluid mt-5">

  <div class="row">
    <div class="col-lg-3"></div>

    <div style="background: lightblue" class="col-lg-6 shadow-lg">
      <form action="/contract/create"  method="post" >
        <div class="mb-5 mt-3 text-center fst-italic">
          <h1>Add New Contract Form</h1>
        </div>

        <div class="mb-3">
          <label for="facility" class="form-label fw-bold fst-italic">Facility Name:</label>
          <select  id="facility"  class="form-select" aria-label="Default select example">
            <option>
            </option>
          </select>

        </div>

        <div class="mb-3">
          <label for="startDay" class="form-label fw-bold fst-italic">Start Day:</label>
          <input  type="date" class="form-control" id="startDay" aria-describedby="dateStart">

        </div>
        <div class="mb-3">
          <label for="endDay" class="form-label fw-bold fst-italic">End Day:</label>
          <input type="date" class="form-control" id="endDay" aria-describedby="dateEnd">

        </div>


        <div class="mb-3">
          <label for="deposit" class="form-label fw-bold fst-italic">Deposit: </label>
          <input  type="number" class="form-control" id="deposit" aria-describedby="deposit">

        </div>

        <div class="mb-3">
          <label for="totalPrice" class="form-label fw-bold fst-italic">Total Price: </label>
          <input  type="text" class="form-control" id="totalPrice" aria-describedby="totalPrice" disabled>
        </div>

        <div class="mb-3">
          <label for="employeeId" class="form-label fw-bold fst-italic">Employee Name:</label>
          <select id="employeeId" class="form-select" aria-label="Default select example">
            <option>
            </option>
          </select>

        </div>

        <div class="mb-3">
          <label for="customerId" class="form-label fw-bold fst-italic">Customer Name:</label>
          <select id="customerId" class="form-select" aria-label="Default select example">
            <option>
            </option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary mb-3 w-100">Add New Contract</button>
      </form>
    </div>

    <div class="col-lg-3"></div>
  </div>
</div>
